body{
    font-family: sans-serif,cursive;
    background-color: #fff0f5;
    color: #333;
    margin: 0;
    padding: 0;
}
title{
    font-size: 1000;
    font-family: cursive;
}
header{
    background: color #ffb6c1;
    padding: 20px;
    text-align: center;
    margin: 0;

}
h1{
    margin: 0;
    font-size: 600;
}
.tagline{
    font-style: italic;
    color: #ffb6c1;
}
nav{
    background-color: #ffe4e1;
    padding: 10px;
    text-align: center;

}
nav ul{
    list-style:none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 15px;

}
nav ul li a{
    text-decoration: none;
    color: #d6336c;
    font-weight: bold;
}
section{
    padding: 20px;
    margin: 10px;
}
#stories .story{
    background-color: #fff;
    border: 2px dashed #ff69b4;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}
button{
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
botton:hover{
    background-color: #ff1493;

}
form input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px; 
}
form textarea{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}
form button{
    margin-top: 10px;

}
footer{
    background-color: #ffb6c1;
    text-align: center;
    padding: 10px;
    font-size: 90;
    margin: 0;
}